.element__like {
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: none;
  background-image: url(../../../images/like.svg);
  box-shadow: none;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}
