.profile {
  display: grid;
  grid-template-columns: 282px;
  grid-template-rows: 120px 1fr 50px;
  justify-items: center;
  margin: 39px 0 0;
  padding: 0;
}

@media screen and (min-width: 880px) {
  .profile {
    margin-top: 40px;
    grid-template-rows: 120px;
    grid-template-columns: 120px 1fr 150px;
    align-items: center;
    width: 880px;
  }
}
