.profile-info__activity {
  grid-area: activity;
  margin: 0 auto;
  padding: 0;
  max-width: 207px;
  min-height: 17px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 880px) {
  .profile-info__activity {
    margin: 0;
    padding: 5px 0 0 2px;
    max-width: 294px;
    min-height: 22px;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}
