.header__logo {
  position: relative;
  top: 0;
  left: 27px;
  margin: 0;
  padding: 0;
  width: 103.74px;
  height: 24.4px;
}

@media screen and (min-width: 880px) {
  .header__logo {
    left: 0;
    width: 142px;
    height: 33px;
  }
}
