.popup__name {
  margin: 75px auto 0;
  padding: 0 0 11px;
  width: 238px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #000;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

@media screen and (min-width: 880px) {
  .popup__name {
    margin-top: 57px;
    padding-bottom: 10px;
    width: 358px;
  }
}
