.content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 19px;
  padding: 0;
  width: calc(100% - 38px);
}

@media screen and (min-width: 880px) {
  .content {
    justify-content: center;
    margin: 0 auto;
  }
}
