.profile-info {
  display: grid;
  grid-template-columns: minmax(min-content,max-content) 18px;
  grid-template-rows: 120px 1fr 1fr;
  grid-template-areas:
  "avatar ."
  "name edit"
  "activity .";
  column-gap: 10px;
  margin: 26px 0 0 28px;
  padding: 0;
}

@media screen and (min-width: 880px) {
  .profile-info {
    margin: 0;
    grid-template-columns: 120px 1fr 24px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "avatar name edit"
    "avatar activity .";
    column-gap: 18px;
  }
}
