.profile-info__name {
  grid-area: name;
  margin: 0 auto;
  padding: 0;
  max-width: 207px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 880px) {
  .profile-info__name {
    margin: 0;
    padding: 0 0 5px 2px;
    max-width: 294px;
    min-height: 48px;
    text-align: left;
    font-size: 42px;
    line-height: 48px;
  }
}
