.popup__to-close {
  position: absolute;
  right: 0;
  top: -36px;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/CloseIcon.svg);
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  cursor: pointer;
}

.popup__to-close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 880px) {
  .popup__to-close {
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
  }
}
